@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
  scroll-behavior: smooth;
  cursor: default;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
}

.header-logo{
  width: auto;
  height: 25px;
}

.menu-button{
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(images/menu.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
}

.contact-button{
  width: 100px;
  height: 40px;
  background-color: #121212;
  border: none;
  color: #fff;
  font-family: 'Quicksand';
  font-weight: 600;
  cursor: pointer;
}

#about{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
  min-height: 100dvh;
}

.about-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  max-width: 50%;
  padding-bottom: 100px;
}

.about-section > h1{
  font-family: 'Gabarito';
  font-size: 5rem;
  grid-column-start: 1;
  grid-column-end: 4;
  letter-spacing: -2px;
  word-spacing: -5px;
  line-height: 1;
}

.about-section > p{
  justify-self: start;
  font-size: 0.9rem;
  font-family: 'Quicksand';
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 65ch;
  text-align: justify;
  text-justify: distribute;
  font-weight: 600;
  color: #121212;
}

.about-section > h2{
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-stretch: narrower;
  height: min-content;
  color: #121212;
}

.about-section > button{
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  height: 30px;
  width: 100px;
  border-radius: 0px;
  outline: 2px solid #121212;
  border: none;
  background-color: #ffcc00;
  font-family: 'Quicksand';
  font-weight: 800;
  transition: background-color 50ms ease-in;
  cursor: pointer;
}

.about-section > button:hover{
  border: none;
  background-color: #121212;
  color: #fff;
}

.about-section > button:active{
  outline-offset: 1px;
  border: none;
}

.shortcuts-grid{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding-bottom: 50px;
  min-width: 100%;
  padding: 10px;
}


.shortcut-card-1{
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 100%;
  min-height: 300px;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-1 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card-2{
  grid-column-start: 2;
  grid-column-end: 4;
  min-width: 100%;
  min-height: 300px;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-2 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card-3{
  grid-column-start: 4;
  grid-column-end: 5;
  min-width: 100%;
  min-height: 300px;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-3 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card-4{
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 100%;
  min-height: 300px;
  grid-row-start: 2;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-4 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card-5{
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 100%;
  min-height: 300px;
  grid-row-start: 2;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/5.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-5 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card-6{
  grid-column-start: 3;
  grid-column-end: 5;
  min-width: 100%;
  min-height: 300px;
  grid-row-start: 2;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/6.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-6 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card-7{
  grid-column-start: 5;
  grid-column-end: 7;
  min-width: 100%;
  min-height: 300px;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/7.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-7 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card-8{
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 7;
  min-width: 100%;
  min-height: 300px;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Gabarito';
  font-size: 1rem;
  background-image: url(images/8.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-card-8 > p{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 300px;
  font-size: 1.5rem;
  background-color: #0000005d;
  transition: 100ms ease-in-out;
}

.shortcut-card{
  border-radius: 5px;
  overflow: hidden !important;
  transition: 200ms ease-in-out;
}

.shortcut-card:hover > p{
  background-color: #0000008a;
}

.shortcut-card:hover{
  scale: 1.025;
}

#services{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  padding-top: 20px;
  position: relative;
}

.services-section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.services-section-header > h2{
  flex: 1;
  font-size: 2rem;
  font-family: 'Gabarito';
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section-header > div{
  flex: 1;
  font-family: 'Gabarito';
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section-header > div > p{
  max-width: 65ch;
}

.tasks-section{
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #121212;
}

.task-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.task-container > p{
  font-family: 'Gabarito';
  text-align: center;
  max-width: 20ch;
}

.tasks-section img{
  border: #0d0d0d 2px solid;
  border-radius: 50%;
  padding: 5px;
  width: 4rem;
  height: auto !important;
}

.divider > img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: auto;
  opacity: 0.7;
  border: none;
}

#location{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
}

#projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100dvh;
}

.logo{
  max-width: 20rem;
}

iframe{
  max-width: 100%;
}

.location-container{
  padding-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.location-container > div{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
  flex-direction: column;
}

.photos-container{
  margin-top: 20px;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 20px;
}

.project-photo{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-photo > img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.brands-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brands-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
}

.brand-logo-container{
  flex: 1;
  max-width: 100px;
}

.brand-logo-container > img{
  max-height: 100%;
  max-width: 100%;
  filter: saturate(0);
  transition: 1s;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F3F1D1 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #0d0d0d;
}

*::-webkit-scrollbar-track:hover {
  background-color: #141414;
}

*::-webkit-scrollbar-track:active {
  background-color: #272727;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ffcc00;
}

.contact-container{
  padding: 15px;
  min-width: 100%;
}

.contact-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  position: relative;
  top: -30px;
  height: 20px;
  align-self: center;
}

.contact-logo > img{
  background-color: #ffffff;
  padding: 10px;
  width: 30px;
  height: auto;
  border-radius: 5px;
  position: relative;
  transition: .2s;
}

.contact-logo >img:hover{
  filter: invert();
}

.brand-logo-container:hover , .brand-logo-container > img:hover{
  filter: grayscale(0);
}




label{
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  min-width: 100%;
}

.available-form{
  color: #fff;
  font-family: "Gabarito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  max-width: 350px;
}

.available-form > form{
  display: flex;
  gap: 10px;
  flex-direction: column;
  min-width: 100%;
}

.available-form > form > label > input{
  min-width: 100%;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  padding: 5px;
  color: #fff;
  font-family: "Gabarito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.available-form > form > label > input[type=button]{
  align-self: flex-start;
  width: 30px;
}

.red-text{
  color: red;
}

.green-text{
  color: greenyellow;
}

