@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  cursor: default;
}

a{
  color: black;
  text-decoration: none;
}

body{
  position: absolute;
  max-width: 100%;
  line-height: 1;
}

header{
  padding: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.header-logo{
  height: 40px;
  width: auto;
}

header div{
  display: flex;
  justify-content: center;
  align-items: center;
}

header div ul{
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  list-style: none;
}

h1, h2, h3, li{
  font-family: 'Gabarito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

h2{
  font-weight: bolder;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Gabarito', serif;
  transition: ease-in-out 300ms;
  font-variation-settings: "wght" 1511;
  margin-bottom: 0.8rem;
  outline: none;
}

/* h2:hover{
  font-variation-settings: "wght" 500; 
  letter-spacing: 2px;
} */

h3{
  font-weight: bold;
  font-size: 2.5rem;
}

a{
  transition: color 200ms;
}

.about-text-container{  
  background-color: #0d0d0dc1;
  backdrop-filter: blur(2px);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 120vh;
}

#about > video{
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  height: min-content;
}

#about, #projects, #contact, #location{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-text-container > h2{
  padding: 20px;
  align-items: start;
  text-transform: uppercase;
  font-family: 'Gabarito', serif;
  transition: ease-in-out 300ms;
  font-variation-settings: "wght" 1511;
  margin-bottom: 0.8rem;
  outline: none;
  text-align: center;
}

.about-text-container > h2:hover{
  font-variation-settings: "wght" 500; 
  letter-spacing: 2px;
}

.about-text-container > p{
  padding: 10px;
  text-align: center;
  font-size: 24px;
  max-width: 80%;
  line-height: 1.2;
}

#projects{
  justify-content: start;
  align-items: end;
  text-align: end;
  padding: 10px;
  padding-top: 70px;
  z-index: 10;
}

#projects > p{
  text-align: end;
  font-size: 24px;
  max-width: 80%;
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 50px;
}

#location{
  padding-top: 70px;
  justify-content: center;
  align-items: center;
}

#contact{
  padding-top: 70px;
  justify-content: start;
  align-items: start;
}

.contact-text-container > h2{
  justify-content: start;
  align-items: start;
}

.contact-text-container > p{
  text-align: start;
  font-size: 24px;
  font-weight: bold;
}

.yellow-highlighted{
  color: #ffcc00;
  font-weight: bold;
}

.less-highlighted{
  color: #ffffff;
  font-weight: bold;
}

.highlighted{
  font-weight: bold;
}

.black-background{
  background-color: #0d0d0d;
}

.light-font{
  color: #fff;
}

.yellow-background{
  background-color: #ffcc00;
}

.light-background{
  background-color: #ffffff;
}

.invert{
  filter: invert();
}

.logo{
  max-width: 50%;
  height: auto;
}

iframe{
  width: 600px;
  height: 400px;
}

.location-container{
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.location-container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.photos-container{
  margin-top: 100px;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photos-container > div{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.footer{
  background-color: #0d0d0d;
  height: 100px;
}