@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  cursor: default;
}

a{
  font-size: .8rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body{
  max-width: 100%;
  line-height: 1;
}

header{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.header-logo{
  position: relative;
  height: 40px;
  width: auto;
  bottom: -10px;
  background-color: #0d0d0d;
  padding-bottom: 5px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 3px;
}

header div{
  display: flex;
  justify-content: center;
  align-items: center;
}

header div ul{
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  list-style: none;
}

h1, h2, h3, li{
  font-family: 'Gabarito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
  font-size: 1rem;
  font-weight: regular;
  font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

h2{
  font-weight: bolder;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Gabarito', serif;
  transition: ease-in-out 300ms;
  font-variation-settings: "wght" 1511;
  margin-bottom: 0.8rem;
  outline: none;
}

/* h2:hover{
  font-variation-settings: "wght" 500; 
  letter-spacing: 2px;
} */

h3{
  font-weight: bold;
  font-size: 1rem;
}

a{
  transition: color 200ms;
}

.about-text-container{
  padding-left: 20px;
  background-color: #0d0d0dc1;
  backdrop-filter: blur(2px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  overflow: hidden;
  min-height: 100dvh;
}

#video-bg {
  position: relative;
  min-height: 100dvh;
  min-width: 100%;
  background: transparent url(video-bg.jpg) no-repeat;
  background-size: contain;
}

.video-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
}

#location{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-text-container > h2{
  padding: 20px;
  align-items: start;
  text-transform: uppercase;
  font-family: 'Gabarito', serif;
  transition: ease-in-out 300ms;
  font-variation-settings: "wght" 1511;
  margin-bottom: 0.8rem;
  outline: none;
  text-align: center;
}

.about-text-container > h2:hover{
  font-variation-settings: "wght" 500; 
  letter-spacing: 2px;
}

.about-text-container p{
  padding: 10px;
  font-size: 1rem;
  line-height: 1.2;
  max-width: 70ch;
}

.contact-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#location{
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text-container > h2{
  justify-content: start;
  align-items: start;
}

.contact-text-container > p{
  text-align: start;
  font-weight: bold;
}

.yellow-highlighted{
  color: #ffcc00;
  font-weight: bold;
}

.less-highlighted{
  color: #ffffff;
  font-weight: bold;
}

.highlighted{
  font-weight: bold;
}

.black-background{
  background-color: #0d0d0d;
}

.light-font{
  color: #fff;
}

.yellow-background{
  background-color: #ffcc00;
}

.light-background{
  background-color: #ffffff;
}

.invert{
  filter: invert();
}

.logo{
  padding-left: 20px;
  max-width: 40%;
  min-width: 300px;
  height: auto;
}

iframe{
  border-radius: 20px;
  margin-top: 10px;
  max-width: 400px;
  max-height: 400px;
}

.location-container{
  padding-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.location-container > div{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
  flex-direction: column;
}

#projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100dvh;
}

.photos-container{
  margin-top: 20px;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 20px;
}

.project-photo{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-photo > p{
  min-height: 4ch;
}

.project-photo > img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.footer{
  background-color: #0d0d0d;
  height: 100px;
}

.brands-section{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brands-section > h2{
  font-size: 1rem;
}

.brands-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.brand-logo-container{
  flex: 1;
  width: 100px;
}

.brand-logo-container > img{
  max-height: 100%;
  max-width: 100%;
  filter: saturate(0);
  transition: 1s;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F3F1D1 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #0d0d0d;
}

*::-webkit-scrollbar-track:hover {
  background-color: #141414;
}

*::-webkit-scrollbar-track:active {
  background-color: #272727;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ffcc00;
}

.contact-container{
  padding: 15px;
  padding-top: 20px;
  border-radius: 20px;
}

.contact-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  position: relative;
  top: -30px;
  height: 20px;
  align-self: center;
}

.contact-logo > img{
  background-color: #ffffff;
  padding: 10px;
  width: 30px;
  height: auto;
  border-radius: 5px;
  position: relative;
  transition: .2s;
}

.contact-logo >img:hover{
  filter: invert();
}

.brand-logo-container:hover , .brand-logo-container > img:hover{
  filter: grayscale(0);
}