.shortcuts-grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-bottom: 50px;
    min-width: 100%;
    padding: 10px;
}

.shortcut-card-1{
    min-width: 100%;
    min-height: 300px;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-1 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card-2{
    min-width: 100%;
    min-height: 300px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-2 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card-3{
    min-width: 100%;
    min-height: 300px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-3 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card-4{
    min-width: 100%;
    min-height: 300px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-4 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card-5{
    min-width: 100%;
    min-height: 300px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-5 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card-6{
    min-width: 100%;
    min-height: 300px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-6 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card-7{
    min-width: 100%;
    min-height: 300px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-7 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card-8{
    min-width: 100%;
    min-height: 300px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Gabarito';
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-card-8 > a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 300px;
    font-size: 1.5rem;
    background-color: #0000005d;
    transition: 100ms ease-in-out;
}

.shortcut-card{
    border-radius: 5px;
    overflow: hidden !important;
    transition: 200ms ease-in-out;
    position: relative;
}

.shortcut-card > a{
    z-index: 2;
}

.shortcut-card > img{
    max-height: 100%;
    position: absolute;
    z-index: 1;
}

.shortcut-card:hover > a{
    background-color: #0000008a;
}

.shortcut-card:hover{
    scale: 1.025;
}

@media (max-width: 1000px) {
    .shortcuts-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .shortcut-card-8{
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
@media (max-width: 768px) {
    .shortcuts-grid{
        grid-template-columns: 1fr 1fr;
    }
    .shortcut-card-8{
        grid-column-start: 2;
        grid-column-end: 3;
    }
}